<h1>Create a new question</h1>
<% if @question.errors.any? %>
  <h2>The following errors prevented the question from being saved:</h2>
  <ul>
    <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with scope: :question_string, url: questions_url, local: true do |f| %>
  <p>
    <%= f.text_field :question_string, :placeholder => "Enter your question" %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Return to Questions', questions_path %>

<h2><%= button_to "Create a Question", questions_url, :method => :post %></h2>
