<h1 class="title">Random Mandatory Socialization Question Generator</h1>

<div class="btn-group">
  <div>
    <h5 class="button"><%= button_to "Fresh Question", random_question_url, :method => :get %></h5>
  </div>
  <div>
    <h5 class="button" ><%= button_to "All Questions", questions_path, :method => :get %></h5>
  </div>
</div>

<div class="question">
  <div class="btn-group">
    <div class="question-group">
      <div><b>Question <%= @question.id %>:</b> <span><%= @question.question_string %>&nbsp;&nbsp;</span>
      </div>
    </div>
    <div >
      <div><%= link_to "Edit", edit_question_path(@question), :method => :get %>&nbsp;&nbsp;</div>
    </div>
    <div>
      <div><%= link_to "Delete", question_path(@question), :method => :delete, data: { confirm: 'Are you sure you want to delete this question?' } %></div>
    </div>
  </div>
</div>
