<div class="question_">
  <div>
    <div>
      <h3>Question <%= @question.id %></h3>
    </div>
    <div>
      <p><%= @question.question_string %></p>
    </div>
  </div>

  <div>
    <tr>
      <td><%= button_to "Fresh Question", random_question_url, :method => :get %></td>
    </tr>
    </br>
    <tr>
      <td class="button" ><%= button_to "Edit question", edit_question_path(@question), :method => :patch %></td>
    </tr>
    </br>
    <tr>
      <td class="button all_questions" ><%= button_to "All Questions", questions_path, :method => :get %></td>
    </tr>
  </div>
</div>
